/* @import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&display=swap");

:root {
  --primary: rgb(73, 109, 155);
  --secondary: rgb(221, 135, 23);
  --dark-body-color: #22223a;
  --dark-a-li-p-color: rgb(44, 182, 216);
  --dark-nav-bg-color: rgba(13, 102, 109, 0.3);
  --dark-nav-color: rgb(224, 219, 236);
  --dark-left-h2: rgb(192, 158, 46);
  --dark-resume-right-color: rgba(252, 251, 246, 0.9);
  --dark-custom-link-hover-font-color: rgb(113, 189, 209);
  --dark-custom-link-hover-color: rgb(230, 117, 25);
  --light-a-color: rgb(152, 2, 2);
  --light-a-hover-color: rgb(56, 163, 56);
  --light-custom-link-hover-font-color: rgb(164, 64, 64);
  --light-custom-link-hover-color: rgb(1, 51, 114);
  --light-left: rgb(1, 51, 114);
  --light-left-h2: #760246;
  --left-bg: rgb(25, 49, 94);
  /* --light-left-bg: rgba(107, 150, 154, 0.3); */
  --light-left-bg: rgba(107, 150, 154, 1);
  --left-color: rgb(238, 237, 237);
  --left-h2: rgb(230, 117, 25);
  --left-hr: rgb(102, 109, 8);
  --main-h1: rgb(73, 109, 155);
  --nav-bg: rgba(235, 233, 234, 0.5);
  --nav-color: rgb(12, 5, 71);
  --light-nav-color: rgb(4, 29, 88);
  --nav-link-hover-bg: rgba(201, 227, 238, 0.8);
  --nav-link-hover-color: rgb(143, 17, 80);
  --link-a: rgb(80, 25, 230);
  --proj-p-color: #a55584;
  --to-top-bg: rgba(212, 209, 210, 0.5);
  --to-top-border: rgb(83, 118, 163);
  --padding-1-px: 0.0625rem;
  --padding-2-px: 0.125rem;
  --padding-5-px: 0.3125rem;
  --padding-10-px: 0.625rem;
  --padding-15-px: 0.9375rem;
  --padding-20-px: 1.25rem;
  --padding-negative-20: -1.25rem;
  --padding-25-px: 1.5625rem;
  --padding-negative-25: -1.5625rem;
  --padding-30-px: 1.875rem;
  --padding-40-px: 2.5rem;
  --padding-50-px: 3.125rem;
  --border-color-transparent: transparent;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size:16px;
}

body {
  /* font-family: 'Questrial' , 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif; */
  /* font-family: 'Roboto Mono', monospace; */
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.2rem;
  line-height: 1.6;
  min-height: 100vh;
  overflow-x: hidden;
  width: 100vw;
}

main {
  padding: var(--padding-10-px);
}

header {
  text-align: center;
}

header address p {
  font-size: 1.1rem;
}

h1 {
  color: var(--primary);
  font-size: 1.7rem;
  text-transform: uppercase;
}

img {
  height: var(--padding-40-px);
  padding-right: var(--padding-5-px);
  vertical-align: middle;
  width: var(--padding-40-px);
}

#h1-hr {
  border-bottom: var(--padding-2-px) solid var(--secondary);
  margin: auto;
  width: 30%;
}

#first .custom-link {
  font-size: 1.1rem;
  font-style: italic;
  font-weight: bold;
}

#first p {
  padding-top: var(--padding-5-px);
}

.resume-container {
  display: grid;
  grid-template-areas: "a a h" "a a m" "a a m";
}

header {
  grid-area: h;
}

aside {
  background-color: var(--left-bg);
  grid-area: a;
}

main {
  grid-area: m;
}

/* custom anchor link underline (hover) - start */
.custom-link {
  position: relative;
  text-decoration: none;
}

.custom-link::after {
  content: '';
  position: absolute;
  height: 0.1em;
  background-color: var(--light-custom-link-hover-color);
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  width: 100%;
}

.custom-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/* custom anchor link underline (hover) - end */

/* custom tooltip using html data attribute - start */
.projects-link-title {
  position: relative;
}

.link-item-experience::before,
.link-item-education::before,
#to-top-button-id::before,
.address-link::before,
.projects-link-title::before,
.experience-site-link::before {
  content: attr(data-title);
  position: absolute;
  top: 1em;
  left: 7em;
  font-size: 0.9em;
  padding: 0.5rem;
  display: none;
  color: white;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  transition: opacity 0.1s ease-out;
  text-align: center;
}

.link-item-experience::before {
  top: 1em;
  left: -17em;
}

.link-item-education::before {
  top: 5em;
  left: -17em;
}

#to-top-button-id::before {
  top: -1em;
  left: -8em;
}

.address-link::before {
  top: 1em;
  left: 8em;
  width: 8vw;
  height: 2vh;
}

.address-mail-link::before {
  left: 11em;
}

.projects-link-title::before {
  top: 2em;
  left: -18em;
}

.projects-link-title:nth-of-type(1)::before {
  left: -8em;
}

.experience-site-link::before {
  top: 2em;
  left: -4em;
}

.link-item-experience:hover::before,
.link-item-education:hover::before,
#to-top-button-id:hover::before,
.address-link:hover::before,
.projects-link-title:hover::before,
.experience-site-link:hover::before {
  display: inline-block;
}
/* custom tooltip using html data attribute - end */

@media (prefers-color-scheme: light) {
  header address p {
    color: var(--primary);
  }

  aside {
    /* background-color: var(--dark-nav-bg-color); */
  }

  /* .resume-left-section .resume-left {
    background-color: var(--light-left-bg);
  } */

  aside,
  .resume-left {
  /* .resume-left--toggle { */
    background-color: var(--light-left-bg);
    /* background-color: blue; */
  }

  label .menu {
    background: var(--light-nav-color);
  }

  label input:checked + .menu {
    box-shadow: 0 0 0 100vw var(--left-bg), 0 0 0 70vh var(--left-bg);
    box-shadow: 0 0 0 100vw var(--light-left-bg), 0 0 0 60vh var(--light-left-bg);
  }

  /* .resume-left {
    background-color: var(--left-bg);
  } */

  .resume-left {
    color: var(--light-left);
    font-weight: bold;
  }

  .projects-container .projects a {
    color: var(--light-a-color);
  }

  .resume-left h2 {
    color: var(--light-left-h2);
  }

  .resume-left hr {
    border: var(--padding-1-px) solid var(--left-h2);
  }

  header #h1-hr {
    border-bottom-color: var(--left-hr);
  }

  .nav-item,
  .to-top-button {
    background: var(--dark-nav-bg-color);
  }

  .link-item,
  .to-top-button {
    font-weight: bolder;
  }

  #first .custom-link {
    color: var(--light-a-color);
  }

  .projects-link:focus,
  .projects-link:hover {
    color: var(--light-a-color) !important;
  }

  .custom-link:focus,
  .custom-link:hover {
    color: var(--light-custom-link-hover-font-color) !important;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark-body-color);
    color: var(--dark-resume-right-color);
  }

  #resume-right-container {
    color: var(--dark-resume-right-color);
  }

  .resume-left h2 {
    color: var(--dark-left-h2);
  }

  .resume-left hr {
    border: var(--padding-1-px) solid var(--left-h2);
  }

  header h1,
  .projects p:nth-of-type(1),
  .degrees p:nth-of-type(1) {
    color: var(--left-h2);
  }

  header #h1-hr {
    border-bottom-color: var(--left-hr);
  }

  .nav-item,
  .to-top-button {
    background: var(--dark-nav-bg-color);
  }

  .link-item,
  .to-top-button {
    color: var(--dark-nav-color);
    font-weight: bolder;
  }

  #first a,
  .project-description li,
  .education-description p,
  .projects-container .projects a {
    color: var(--dark-a-li-p-color);
  }

  img {
    filter: invert(80%);
    -webkit-filter: invert(80%);
  }

  .projects-link:focus,
  .projects-link:hover {
    color: var(--dark-custom-link-hover-color) !important;
  }
  
  .custom-link:focus,
  .custom-link:hover {
    color: var(--dark-custom-link-hover-font-color) !important;
  }

  .custom-link::after {
    background-color: var(--dark-custom-link-hover-color);
  }
}

/* media query for devices less than or equal to 700px - start */
@media only screen and (max-width: 700px) {
  aside {
    display: none;
  }

  .resume-left-section > * {
    /* display: block; */
  }

  /* .resume-left--toggle {
    display: block;
  } */

  .resume-left--toggle {
    display: block;
  }

  .resume-left--toggle {
    /* display: block; */
  }

  .resume-left--toggle span {
    /* display: block; */
  }

  label {
    display: block;
  }

  .resume-container {
    display: block;
    overflow-x: hidden;
  }

  #first {
    padding-left: var(--padding-10-px);
    padding-top: var(--padding-10-px);
    text-align: left;
  }

  .nav-item {
    position: fixed;
    right: var(--padding-15-px);
    top: 8%;
  }

  .link-item,
  .to-top-button {
    font-size: 0.8rem;
  }

  .hr-mobile-view {
    display: block;
    margin-bottom: var(--padding-10-px);
  }

  #second,
  #third { 
    margin: 0;
  }

  #second .projects-link {
    align-items: center;
    display: flex;
    font-size: 0.9rem;
  }

  #second a img {
    padding-left: var(--padding-5-px);
  }

  h3 {
    font-size: 1rem;
  }

  .move-hr {
    display: none;
  }

  .projects-container,
  .education-container {
    display: flex;
    flex-direction: column;
    padding: var(--padding-5-px);
  }

  .degrees p:nth-of-type(2) {
    font-size: 1rem;
  }
}
/* media query for devices less than or equal to 700px - end */
